body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.flex-row {
    display: flex;
}

.icon {
    height: 3vh;
}

button {
    background-color: #dcdde1;
    color: #353b48;
    border-radius: 1.2vh;
    border: none;
    font-size: 2vh;
    padding: 0.8vh 1.2vh 0.8vh 1.2vh;
    cursor: pointer;
    width: fit-content;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0.2vh 0.6vh rgba(0, 0, 0, 0.3);
  }

h1 {
    font-size: 6vh;
    color: #2f3640;
    margin: 0;
}

h2 {
    font-size: 4vh;
    color: #353b48;
    margin: 0;
}

h3 {
    font-size: 2vh;
    color: #718093;
    margin: 0;
}

a {
    text-decoration: none;
  }

.cuadrado {
    border-radius: 2vh;
    height: 40vh;
    aspect-ratio: 1;
    animation: float 15s ease-in-out infinite;
    background: linear-gradient(
    to bottom right,  
    #2C3E50, #FD746C, 
    #FF8235, #ffff1c, 
    #92FE9D, #00C9FF, 
    #a044ff, #e73827);
    background-size: 1400% 1400%;
}

@keyframes float {
	0% {
		box-shadow: 0 0.5vh 1.5vh 0px rgba(0,0,0,0.6);
        background-position: 0% 50%;
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 2.5vh 1.5vh  0px rgba(0,0,0,0.2);
        background-position: 100% 50%;
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 0.5vh 1.5vh 0px rgba(0,0,0,0.6);
        background-position: 0% 50%;
		transform: translatey(0px);
	}
}