html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.grid {
  display: grid;
  justify-content: center;
}

.svg-container {
  position: relative;
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.svg-container:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.svg-tooltip {
  position: absolute;
  visibility: hidden;
  background-color: #2C3E50;
  color: #ECF0F1;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
}

.grid svg:hover + .svg-tooltip{
  visibility: visible;
}